table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

.node {
	fill: #ccc;
	stroke: #000;
	stroke-width: 2px;
	cursor: move;
}

.node.fixed {
	fill: #f00;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

svg text {
	pointer-events: none;
	cursor: default;
}

.link {
	fill: #ccc;
	stroke: #777;
	stroke-width: 2px;
}

.label {
	color: white;
	fill: white;
}
